<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Registration Home Page</title>
    <link rel="stylesheet" href="About.css"></link>
    <script src="https://kit.fontawesome.com/2788c4b3c9.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container"> 

        <div class="navbar">
            <img src="SkyConnectsmall.png" class="Logo">
            <nav>
                <ul>
                    <li><a href="HomePage.html">Home</a> </li>
                    <li><a href="MyFlights.html">My Flights</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="SignIn.html">Sign In</a> </li>       
                </ul>
            </nav>
        </div>

        <div class="row">
            <div class="col">
                <h1>About Us</h1>
                <p>
                    SkyConnect is a reflection of our journey and dedication to transforming the way people search for and book flights. We started this project in 2024 with a team of 4, some of whom are experienced developers, while others are new to the programming world. We came together because we all agree that searching for airplane flights can be frustrating, and we want to make it easier for everyone to book flights and spend time with their families, especially during the holidays. This page is not just a formality; it's a way for us to share our vision, history, and the diverse expertise of our team. We want to build trust and credibility with our users by being transparent about who we are and what we aim to achieve. Our goal is to simplify the air travel process and make it more customer-centric.
                </p>
            </div>

            <div class="col2">
                <div class="form-box">
                    <h1 id="title">Meet the Team</h1>
                    <h2 id="body">Michelle Elson</h1>
                    <h2 id="body">Robert Feagley</h1>
                    <h2 id="body">Kevin Richardson</h1>
                    <h2 id="body">Jacob Casey</h1>

                </div>
            </div>
        </div>

    </div>



</body>

</html>