<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Registration Home Page</title>
    <link rel="stylesheet" href="PaymentSuccessful.css"></link>
    <script src="https://kit.fontawesome.com/2788c4b3c9.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container"> 

        <div class="navbar">
            <img src="SkyConnectsmall.png" class="Logo">
            <nav>
                <ul>
                    <li><a href="HomePage.html">Home</a> </li>
                    <li><a href="MyFlights.html">My Flights</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="SignIn.html">Sign In</a> </li>       
                </ul>
            </nav>
        </div>

            <div class="col2">
                <div class="form-box">
                    <h1 id="title">Congratulations!</h1>
                    <form>
            
                        <p class="S">Payment Successful</p>

                        <h2 class="RH"><a href="HomePage.html">Return Home</a> </h2>

            
                    </form>
                </div>
            </div>
        

    </div>

</body>
</html>