<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In & Sign Up form</title>
    <link rel="stylesheet" href="SignIn.css"></link>
    <script src="https://kit.fontawesome.com/2788c4b3c9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="a"class="Logo">
            <nav>
                <ul>
                    <li><a href="HomePage.html">Home</a> </li>
                    <li><a href="MyFlights.html">My Flights</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="SignIn.html">Sign In</a> </li>        
                </ul>
            </nav>
        </div>
        <div class="form-box">
            <h1 id="title">Sign In</h1>
            <form>
                <div class="input-group">
    
                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" id="email" placeholder="Email" required="true">
                    </div>
    
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Password" id="password" required="true">
                        <button id="eyeIcon"><i class="fa-solid fa-eye-slash"></i></button>
                    </div>

                </br><a href="ForgotPassword.html">Forgot password</a></br>
                </br>
                    <a href="SignUp.html">Sign up</a>

                </div>
    
                <div class="btn-field">
                    <button type="submit" id="signinBtn">Sign In</button>
                </div>
    
            </form>
        </div>
    </div>
    
    <script>
    
    let eyeIcon = document.getElementById("eyeIcon");
    let password = document.getElementById("password");
    let email = document.getElementById("email")
    let signinBtn = document.getElementById("signinBtn");
    let title = document.getElementById("title");
    
    eyeIcon.onclick = function(e)
    {
        event.preventDefault();
    
        if(password.type == "password")
        {
            password.type = "text";
        }
        else
        {
            password.type = "password";
        }
    }
    
    signinBtn.onclick = function()
    {
        document.getElementById("email").value;
        document.getElementById("password").value

        window.location.href = "HomePage.html";
    }
    
    </script>
    </body>
</html>